<!-- Extends default Bootstrap Unical Italia template -->
{% extends 'base-setup.html' %}

{% load i18n %}
{% load static %}

{% block page_meta_description %}
University of Calabria - SSO services
{% endblock %}

{% block page_title %}
{% trans "Informations" %}
{% endblock page_title %}


{% block header_center_search %}{% endblock header_center_search %}
{% block header_slim_right_zone %}{% endblock header_slim_right_zone %}
{% block main_menu %}{% endblock main_menu %}

{% block centered_container %}
<h3 class="mb-4">{% trans "Information Pages" %}</h3>

{% if categories %}
    {% for category in categories %}
        {% if category.is_active %}
        <div class="card-wrapper card-space">
            <div class="card card-bg no-after">
                <div class="card-body">
                    <h4 class="card-title">
                        <a href="{% url 'info_manager:info_page' category.slug %}" style="color: grey; text-decoration: none;">
                        {{ category.name }}
                        </a>
                    </h4>
                    {% if category.img_url %}
                    <p>
                        <img style="max-width: 100%;"
                             src="{{ category.img_url.url }}"
                             title="{{ category.name }}"
                             alt="{{ category.name }}">
                    </p>
                    {% endif %}

                    {% if category.description %}
                        <p>{{ category.description|safe }}</p>
                    {% endif %}
<!--
                    <h6>{% trans "Active items" %}:</h6>
-->
                    <ol>
                        {% for item in category.active_items %}
                        <li>
                            <h6>
                            {{ item.name }}
                            {% if item.active_translations %}
                                {% for item_trans in item.active_translations %}
                                    &nbsp;[{{ item_trans.lang }}]
                                {% endfor %}
                            {% endif %}
                            </h6>

                            <p>{% trans "published" %}: {{ item.created }} &nbsp; {% trans "modified" %}: {{ item.modified }}</p>
                        </li>
                        {% endfor %}
                    </ol>
                    <div>
                    <a href="{% url 'info_manager:info_page' category.slug %}" class="float-xl-right">{% trans "Leggi tutto" %}</a>
                    </div>
                    <hr />

                </div>
            </div>
        </div>
        {% endif %}
    {% endfor %}
{% endif %}
{% endblock centered_container %}
