<!-- Extends default Bootstrap Unical Italia template -->
{% extends 'base-setup.html' %}

{% load i18n %}
{% load static %}

{% block page_meta_description %}
        <meta name="description" content="Bootstrap Italia">
{% endblock page_meta_description %}


{% block page_title %}
{% trans "Informations" %}
{% endblock page_title %}


{% block header_center_search %}{% endblock header_center_search %}
{% block header_slim_right_zone %}{% endblock header_slim_right_zone %}
{% block main_menu %}{% endblock main_menu %}

{% block centered_container %}
<h3 class="mb-4">{% trans "Information Pages" %}</h3>

{% if categories %}
    {% for category in categories %}
        {% if category.is_active %}
        <div class="card-wrapper card-space">
            <div class="card card-bg no-after">
                <div class="card-body">
                    <h4 class="card-title">{{ category.name }}</h4>
                    {% if category.img_url %}
                    <p>
                        <img style="max-width: 100%;"
                             src="{{ category.img_url.url }}"
                             title="{{ category.name }}"
                             alt="{{ category.name }}">
                    </p>
                    {% endif %}
                    {% if category.description %}
                        <p>{{ category.description|safe }}</p>
                        <a href="{% url 'info_manager:info_page' category.slug %}" class="float-xl-right">{% trans "Leggi" %}</a>
                        <hr />
                    {% endif %}

                </div>
            </div>
        </div>
        {% endif %}
    {% endfor %}
{% endif %}
{% endblock centered_container %}
